body {
    background-image: url(https://images.pexels.com/photos/1389429/pexels-photo-1389429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    font-family: Verdana;
    font-size: 17px;
  color: white;
  }
  
  form {
    background-color: rgba(3, 30, 39, 75%);
    color: white;
    width: 85%;
    font-size: 22px;
    margin: auto;
    max-width: 600px;
    min-width: 300px;
    border-radius: 15px;
    padding: 0.3em 1em;
  }
  
  .header {
    text-align: center;
  }
  
  .long {
    width: 100%;
    height: 30px;
    border-radius: 5px;
  }
  
  textarea{
    width: 100%;
    height: 150px;
  }

  button {
    padding: 15px 25px;
    font-size: 16px;
    background-color:#07121e;
    color: white;
    border: none;
  }